.visited-div{
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border: 2px solid sandybrown;
  padding: 8px;
  border-radius: 12px;
  width: fit-content;
  margin: 0 auto;
}

.hide-it{
  display: hidden;
}

.visited-country{
  border: 2px solid seagreen;
  padding: 5px 7px;
  border-radius: 8px;
  text-align: center;
}

@media (max-width: 768px) {
  .visited-div{
    padding-inline: 5px;
  }
}